<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>客户关系管理系统 - 微盟</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
<div id="root"></div>

</body>
</html>
